@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: "Helvetica Neue";
    background-color: #121212; 
}

main{
    margin: 24px 20px;
}

.header {
    position: fixed;
    left: 0; 
    right: 0; 
    top: 0;
    z-index: 1;
    width: 100%;
    margin: 0 auto; 
  }

  .progress-container {
    width: 100%;
    height: 8px;
  }
  
  .progress-bar {
    height: 8px;
    background: #AB92F9;
    width: 0%;
  }

/** FONTS **/

h1{
    font-weight: 500;
    font-size: 28px;
    line-height: 34.19px;
    color: #F2F5F8;
}

h1.case-study-title{
    margin-top: 20px;
    margin-bottom: 8px; 
    font-family: "IBM Plex Serif";
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
}

h1 a{
    color: #AA9CFE;
    text-decoration: underline;
}

.paragraph-block > p > a{
    color: #AA9CFE;
    text-decoration: underline;
}

h2{
    font-family: 'IBM Plex Serif'; 
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    color: #F2F5F8;
}

h2.case-study-subtitle{
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #F2F5F8;
}

/** .about-text > h2{
    font-family: 'Helvetica Neue';
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 8px;
    color: #F2F5F8;
} **/

h3, h5{
    font-weight: 600;
    font-size: 24px;
    color: #F2F5F8;
}

h3.case-study-facts{
    margin-bottom: 8px;
}

h4{
    font-weight: 400;
    font-size: 24px;
    color: #B8B9BA;

}  

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.63px;
    color: #F2F5F8;
}

figcaption{
    margin-top: 8px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #B8B9BA;
}

p.icon{
    font-size: 56px;
    margin-bottom: 32px;
}

p.statistic{
    font-family: 'IBM Plex Serif'; 
    font-weight: 400;
    font-style: italic;
    font-size: 56px;
    color: #AA9CFE;
}

li{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.63px;
    color: #F2F5F8;
}

ul.case-study-list{
 display: block;
 list-style: none;
}

li.case-study-list-element{
    border-bottom: none;
    padding: 0px;
}

h3.case-study-block-title{
    font-size: 20px;
    text-transform: uppercase;
    /*color: #B8B9BA; */
    color: #AA9CFE;
    text-align: center;
}

h1.case-study-tagline, h4.case-study-tagline{
    font-family: "IBM Plex Serif";
    font-weight: 400;
    font-style: italic;
    color: #F2F5F8;
    font-size: 28px;
    margin: 16px 0px; 
    margin-bottom: 36px;
    text-align: center;
}

h1.case-study-tagline{
    font-size: 36px;
}

a.menu-nav{
    color: #F2F5F8;
}

.wavy-animation {
	text-decoration: none;
	position: relative;
	padding-bottom: 4px;
	overflow: hidden;
    display: inline-flex;
    position: relative;
    z-index: 100;
    
}

.wavy-animation:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    content: attr(data-text)attr(data-text);
    color: transparent;
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-style: wavy;
    /*text-decoration-color: #ffc823; */
    text-decoration-color: #AA9CFE;
    animation: wavy-slide 6s linear infinite;
    z-index: 1000;
}

@keyframes wavy-slide {
	to {
		margin-left: -51%;
	}
}

span.bold{
    font-weight: 600;
}


a.button{
margin-top: 16px;
padding: 8px 12px;
font-size: 20px;
font-weight: 500;
background: #F2F5F8;
color: #121212;
border-radius: 50px;
text-decoration: none;
}

a.button:hover{
    background: #121212;
    color: #F2F5F8;
    border: 2px solid #F2F5F8;
}

h3.black-text, h4.black-text, .black-text{
    color:#121212
}

div.work-sample > div.work-text > a, div.work-sample > div.work-text > a > h3{
    text-decoration: none; 
    transition: color 0.25s;
}

div.work-sample > div.work-text > a:hover, div.work-sample > div.work-text > a > h3:hover{
    text-decoration: underline; 
   color:#AB92F9;
}

/** IMAGE HOVERING **/

a > img{
    transition: border 0.25s;
}

a > img:hover{
border: 8px solid #AB92F9;

}

a > img#logo-cp, footer > a > img.social-media{
    border: none;
}

/** SPACING **/

#intro-text{
    margin-top: 40px;
}

.work-sample, .work-sample h3,{
    margin-top: 20px; 
}

.work-sample p{
    margin-bottom: 20px; 
}

#main h2{
    margin-top: 60px;
}

.work-sample h4{
    margin-bottom: 20px;
}

.work-sample{
    margin-top: 20px;
    margin-bottom: 68px; 
}

.work-image{
    margin-bottom: 8px; 
}

footer{
    margin-top: 100px;
}

.about-image img{
    margin-bottom: 24px;
}

div.fixed-star{
    position: fixed;
    bottom: 16px;
    right: 16px;
}

div.skills-and-tools{
    display: flex;
}

.tools{
    margin-left: 8px;
}

div.paragraph-block-1{
    margin: 8px 0px;
    grid-column: 1 / 4;
}

div.paragraph-block-2{
    margin: 8px 0px;
    grid-column: 4 / 7;
}

div.paragraph-block-2.tools{
    margin-left: 32px;
}

div.paragraph-block-3{
    margin: 8px 0px;
    grid-column: 7 / 13;
    grid-row: 1 / 3; 
}

/**div.paragraph-block{
    margin-bottom: 64px;
} */


div.statistics-margin{
    margin: 20px 0px;
}

div.statistics-grid{
    display: flex;
    border: 2px solid #EEEEEE;
    padding-top: 36px;
    margin: 0px 20px;
    margin-top: 8px;
}

div.findings-grid{
    display: flex;
    padding-top: 36px;
    margin-top: 8px;
   justify-content: space-evenly;

}

div.statistics-box{
    margin: 0px 32px;
}

div.sub-key-takeaways{
    margin: 8px 0px;
    padding-top: 32px;
    text-align: center;
    border: 2px solid #F2F5F8;
}

div.sub-key-takeaways ol li{
    text-align: left;
    margin: 4px 0px;
}

div.paragraph-block > p{
    margin-bottom: 32px;
}

div.case-study-artifact.big{

    margin: 24px 0px;
  

}    


div.case-study-artifact{

margin: 24px 0px;
}

div.design-goals{
    /* background: linear-gradient(113.69deg, #AB92F9 -36.82%, #F2F5F8 100%); */
    background-color: #262628;
    padding: 32px;
  
}

div.solution-1, div.solution-2{
    margin-bottom: 16px;
}

div.solution-2{
    margin-bottom: 100px;
}

ol#deliverables > li{
    margin: 8px 0px;
}



/** NAVIGATION BAR **/

#logo-cp{
    max-width: 90%;
    display: flex;
    align-items: center;
  }

.menu-spacing{
    display: flex;
    align-items: center;
} 

  .multimedia-header{
      margin: 50px 0px 5px 0px;
  }
  
  .menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      padding: 16px;
  }
  
  nav.close{
      display: flex;
      flex-direction: column;
      margin: 0px; 
  }
  
  .open{
      display: none;
      margin: 0px; 
  }

  nav ul li a{
    padding: 12px; 
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #F2F5F8;
}

  
  .current{
    font-weight: 700;
    color: #AA9CFE;
  }

    nav ul li.current a{
        color: #AA9CFE;
        text-decoration: underline;
  }
  
  /** .current::before{
      content: '\2B51 ';
      color: #00000F;
      text-decoration: none;
  } **/
  
  ul li{ 
      padding: 12px; 
      border-bottom: 2px solid #F2F5F8;
     
  }
  
  
  ul.writing-samples li a{
  text-decoration: none;
  color: #00000F;
  }
  
  nav ul li:hover{
    color: #3172A0;
    text-decoration: underline;
      font-weight: 700;
  }
  
  /** ul li:hover::before{
      content: '\2605';
      color: #00000F;
  } **/
  
  nav.close ul li> a{
      padding-right: 100%;
  }
  
  
 /** ul.writing-samples li:hover::before{
      content: '\2605';
      color: #00000F;
      padding-right: 5px;
  } **/
  
  .row-nav{
      display: none; 
  }

  ul.unordered-list li{
      border-bottom: unset;
      list-style-type: none;
      text-align: left;
      padding-bottom: 32px;
  }

  ul.unordered-list li::before{
      content: "⭐️ ";
  }


/** STICKY NAVIGATION BAR FOR CASE STUDIES **/

.navbar {
    overflow: hidden;
    background-color: #AA9CFE;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navbar a {
    font-weight: 500;
    display: block;
    color: #121212;
    text-align: center;
   
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .navbar a:hover {
    background: #121212;
    color: #F2F5F8;
  }

  .navbar a.active {
    background: #121212;
    color: #F2F5F8;
  }
  

  /** MAIN **/

  #main{
      margin-top: 20px;
  }

  #problem{
      background-color: #262628;
      padding: 32px;
      margin-bottom: 32px;
  }

  #solution{
      background-color: #262628;
      padding: 16px;
      margin-top: 32px;
  }


  .project-vid-small {
    width: 300px;
    display: block;
    overflow: hidden;
    border: 5px solid #AA9CFE;
}


  /** FOOTER **/
footer{
    padding: 24px;
    color: #EEEEEE;
}

footer p{
   font-size: 16px;
}

.social-media{
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

/** SKIP TO MAIN CONTENT **/
.skip a{
    background-color: #AA9CFE;
    color: #00000F;
    text-decoration: none;
    left: 0;
    padding: 7px;
    -webkit-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
    z-index: 1;
  
    position: absolute;
    top: -40px;
  
  }

  .skip a:focus{
    background-color: #f4a3e2;
    position: absolute;
    top: 10px;
    color: #00000F;
  }

  /** MEDIA QUERIES **/ 

  @media (min-width: 700px){

 /** NAV **/


 nav.open{
    display: none;
}

nav.close{
    display: none;
}

.row-nav{
    display: flex;
}

ul{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.row-nav > ul li{
    border: none;
    padding: 6px;
}

.menu-nav{
    font-size: 20px;
    font-weight: 500;;
    text-decoration: none;
    flex-direction: row;
}

nav ul li a {
    font-size: 20px; 
}

nav.row-nav > ul > li{
    display: flex;
    align-items: center;
}

.toggle-nav{
    display: none; 
}

.work-sample-box{
    justify-content: left;
}

ol li{
    list-style-type: decimal;
}

@media (min-width: 800px){

    h1.case-study-title{
        font-size: 48px;
        line-height: 62.4px;
    }

    header, main{
        margin: 20px 104px;
    }
    #work-subtitle{
        margin: 44px 0;
        margin: 80px 0; 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px 32px; 
        grid-auto-flow: dense;  
    }

    .work-image{
        margin-bottom: 0px; 
    }

    .work-sample > h2{
        margin-top: 64px;
    }
    
    
    .work-sample{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }

    .work-image{
        grid-column: 1 / span 6;
    }

    .work-text{
        grid-column: 7 / span 6;
    }

    .work-sample h3{
        margin-top: 0px;
    }

    .work-sample-subtitle{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }

    .work-subtitle{
        grid-column: 1 / span 5;
        margin-bottom: 20px;
    }

    .work-sample{
        margin-bottom: 40px; 
    }

    .case{
        margin-bottom: 32px;
    }

    div.case-study-block{
        margin: 28px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.case-study-block > .paragraph-block{
        margin: 8px 8px;
    }

    div.sub-key-takeaways ol li{
        text-align: left;
  
    }

    div.paragraph-block-2.tools{
        margin-left: 0px;
    }

    div.paragraph-block-1{
        margin: 8px 0px;
        grid-column: 1 / 4;
    }
    
    div.paragraph-block-2{
        margin: 8px 0px;
        grid-column: 4 / 7;
    }

    div.research-finding-1{
        grid-column: 2 / 7;
    }

    div.research-finding-2{
        grid-column: 7 / 12;
    }


    div.skills-and-tools{
        display: contents;
    }


div.paragraph-block{
    padding: 32px 8px;
}


}

@media (min-width: 1000px){
    .about-page{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }


    .about-image{
        grid-column: 2 / span 6;
    }

    .about-text{
        grid-column: 8 / span 12;
    }


    .about-box{
        margin: 100px 0px;
    }
    
    .about-text-two{
        grid-column: 2 / span 10;
    }

div.profile-pic, div.case-study-artifact.big{
        display: block;
        margin: 48px 0px;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }    


div.case-study-artifact{
    display: block;
    margin: 48px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.solution-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px 24px; 
}

div.solution-1{
    grid-column: 2 / 5;
}

div.solution-2{
    grid-column: 7 / 12;
}
div.solution-1, div.solution-2{
    margin-bottom: 64px;
}


}

@media (min-width: 1200px){
     /** FONT **/

     h1{
        font-size: 40px;
        line-height: 48.84px;
    }

    h2{
        font-size: 36px;
        }  
    
    div.paragraph-block > h2{
       
            font-size: 28px;
            
    }

    /** SPACING **/

    header, main{
        margin: 20px 136px;
    }

    body > footer{
        margin: 0px;
        margin-top: 100px;
    }

    #intro-text{
        margin-top: 80px;
        margin-bottom: 100px;  
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px 32px; 
        grid-auto-flow: dense;  
    }

    #intro-text h1{
        grid-column: 2 / span 10;  
    }

    #work-subtitle{
        margin: 44px 0;
        margin: 80px 0; 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px 32px; 
        grid-auto-flow: dense;  
    }

    .work-image{
        margin-bottom: 0px; 
    }
    
    
    .work-sample{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }

    .work-image{
        grid-column: 2 / span 5;
    }

    .work-text{
        grid-column: 7 / span 5;
    }

    .work-sample h3, #main h2{
        margin-top: 0px;
    }

    .work-sample-subtitle{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }

    .work-subtitle{
        grid-column: 2 / span 5;
        margin-bottom: 20px;
    }

    .work-sample{
        margin-bottom: 40px; 
    }
    
    .case{
        margin-bottom: 30px;
    }

    .about-page{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }


    .about-image{
        grid-column: 2 / span 5;
    }

    .about-text{
        grid-column: 7 / span 5;
    }


    .about-box{
        margin: 100px 0px;
    }
    
    .about-text-two{
        grid-column: 2 / span 10;
    }

    div.paragraph-block > p, div.paragraph-block > ol#deliverables {
        margin: 0px 40px;
        margin-bottom: 32px;
    }

    div.paragraph-block > h2{
        margin: 4px 40px;
    }

    div.sub-key-takeaways ol li{
        text-align: center;
        list-style-position: inside;
        margin: 4px 64px;
    }

    .solution-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }


div.solution-1{
    grid-column: 2 / 5;
}

div.solution-2{
    grid-column: 7 / 12;
}

    


}

   
  @media (min-width: 1250px){

    /** FONT **/

    h1{
        font-size: 40px;
        line-height: 48.84px;
    } 

    /** SPACING **/

    header, main{
        margin: 20px 136px;
    }

    body > footer{
        margin: 0px;
        margin-top: 100px;
    }

    #intro-text{
        margin-top: 80px;
        margin-bottom: 100px;  
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px 32px; 
        grid-auto-flow: dense;  
    }

    #intro-text h1{
        grid-column: 2 / span 10;  
    }

    #work-subtitle{
        margin: 44px 0;
        margin: 80px 0; 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px 32px; 
        grid-auto-flow: dense;  
    }

   h2#work-subtitle{
        grid-column: 2 / span 2;  
    }

    .work-image{
        margin-bottom: 0px; 
    }
    
    
    .work-sample{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }

    .work-image{
        grid-column: 3 / span 5;
    }

    .work-text{
        grid-column: 8 / span 3;
    }

    .work-sample h3, #main h2{
        margin-top: 0px;
    }

    .work-sample-subtitle{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px 24px; 
    }

    .work-subtitle{
        grid-column: 3 / span 5;
        margin-bottom: 20px;
    }

   /* .work-sample{
        margin-bottom: 40px; 
    } */

    div.paragraph-block > p, div.paragraph-block > ol#deliverables{
        margin: 0px 80px;
        margin-bottom: 24px;
    }

    div.paragraph-block > h2{
        margin: 4px 80px;
    }

    div.paragraph-block > h3, ul.unordered-list li{ 
        margin: 0px 80px;
    }
    div.solution-1{
        grid-column: 2 / 5;
    }
    
    div.solution-2{
        grid-column: 6 / 12;
    }

  }

  @media (min-width: 1600px ) {
    div.solution-1{
        grid-column: 3 / 6;
    }
    
    div.solution-2{
        grid-column: 6 / 11;
    }

      
  }

